.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    min-height: 80px;
}
/*

I will show you how to change a height of a standard Bootstrap navbar.

*/

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

/* Button Shading */



/* Horizontal line */

.horizontal-line{
  width: 100%;
  height: 20px;
  border-bottom: 1px solid black;
  text-align:center;

}
.line {
  padding-top: 50px;
}
/* Navbar */


.container-fluid {
  padding: 0 !important;
  margin : 0 !important;
  width: 100% !important;
}

.target-groups {
  padding-top: 130px !important;
}

@media (min-width: 1700px) {
    .container{
        width: 1600px;
    }
}

#logo {
  width: 120px;
  height: 120px;
}

.top {
  padding-top: 30px;
  font-size: 20px;
}

.top1 {
  padding-top: 80px;
  font-size: 20px;
}

.target-group {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    border-radius: 100px;
    border-style: none;
    font-size: 24px;
    line-height: 1.33;
    background-repeat:no-repeat;
    background-size: contain;
    font-style:oblique;
    position: relative;
    background: #ccc;
    overflow: hidden;
}

.target-group:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


.target-group.family:before {
    background-image: url('/eam/images/family.jpg');
}

.target-group.retired:before {
    background-image: url('/eam/images/retired.jpg');
}

.target-group.employer:before {
    background-image: url('/eam/images/employer.jpg');
}

.target-group.disability:before {
    background-image: url('/eam/images/disabled.jpg');
}

.target-group h3 {
    padding-top: 60px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

/* Flexbox grid layout */
.flex-row {
    flex-direction: row;
    display: flex;
=
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-body {
    display: flex;
    padding-top: 40px;
    justify-content: center;
}

.flex-body div:not([class*="flex"]) {
    border: 1px solid white;
    flex: 1 1 200px;
    width: 300px;
}

#content{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  top:50%;
}

/* Styles for every grid button */
.grid-button {
  background: #6d7993;
  cursor: pointer;
}

/* Top padding in group icons */
.mobile {
  padding-top: 15px;
}

/* Class for responsive flexbox grid */
@media (max-width: 1000px) {
  .flex-body {
    flex-direction: column;
  }
  .flex-column {
    flex-direction: row;
  }

}

/* MEGA MENU */



.navbar-nav>li>.dropdown-menu {
  margin-top: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
  width: 200px;
  font-weight: bold;
}

.mega-dropdown {
  position: static !important;
  width: 100%;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.inner-list {
    list-style-type:none
}

.section {
    padding-top: 40px;
}

.list-el {
    padding-top: 10px;
    color: black;
}

.list-el a {
    padding-top: 10px;
    color: #444;
}

.list-el a:hover {
    padding-top: 10px;
    color: #111;
}

footer {
  background-color: #333;
  margin-top: 80px;
}

.row {
  margin-right: 0px !important;
}

.footer-item {
  color: #ddd;
  padding-top: 20px;
  font-size: 13px;
}

.divider {
   border-bottom: 1px solid rgba(255,255,255,0.05);
}

.footer-header {
  font-size: 18px;
  font-weight: bold;
  color: #aaa;
  padding-top: 30px;
  padding-bottom: 10px;
}

.section-title {
  color: #666;
  font-weight: bold;
}

.section-title a {
  text-decoration: none;
  color: #666;
}

.footer-item a {
  text-decoration: none !important;
  color: #ddd;
}

.footer-item a:hover {
  text-decoration: none !important;
  color: #bbb;
}
