.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


.container-fluid {
  padding: 0 !important;
  margin : 0 !important;
  width: 100% !important;
}

.target-groups {
  padding-top: 80px;
}

@media (min-width: 1700px) {
    .container{
        width: 1600px;
    }
}

#logo {
  width: 120px;
  height: 120px;
}

.top {
  padding-top: 30px;
  font-size: 20px;
}

.top1 {
  padding-top: 80px;
  font-size: 20px;
}

.target-group {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    border-radius: 100px;
    border-style: none;
    font-size: 24px;
    line-height: 1.33;
    background-repeat:no-repeat;
    background-size: contain;
    font-style:oblique;
    position: relative;
    background: #ccc;
    overflow: hidden;
}

.target-group:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


.target-group.family:before {
    background-image: url('/eam/images/family.jpg');
}

.target-group.retired:before {
    background-image: url('/eam/images/retired.jpg');
}

.target-group.employer:before {
    background-image: url('/eam/images/employer.jpg');
}

.target-group.disability:before {
    background-image: url('/eam/images/disabled.jpg');
}

.target-group h3 {
    padding-top: 60px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}
